
<u><h1 class="center">New Task</h1></u>

<form class="task-form" action="/tasks" method="post">
  <input type="text" name="title" placeholder="Task Title"/><br>

  <textarea name="description" rows="8" cols="80" placeholder="Description"></textarea><br>

  <input type="submit" name="submit" value="Create Task">

</form>
