
<h1 class="white-font center">New Task</h1>

<form class="task-form" action="/tasks" method="post">
  <input type="text" name="title" placeholder="Task Title"/>

  <label for="priority">Priority: </label>
  <select name="priority">
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>

  <br>

  <textarea class="editor" name="description" rows="8" cols="80" placeholder="Description"></textarea><br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <label for="due_date">Due Date:</label>
        <input id="due_date" class="" type="date" name="due_date"  />
      </div>

      <div class="col-md-6">
        <label for="due_time">Due Time:</label>
        <input id="due_time" class="" type="time" name="due_time"  />
      </div>
    </div>
  </div>

  <input class="submit-btn" type="submit" name="submit" value="Create Task">

</form>

<script>
  setTimeout(function(){
    document.getElementsByClassName("tox-notification__dismiss tox-button tox-button--naked tox-button--icon")[0].click();
  }, 500);
</script>
