@import "checkbox.css";
@import "buttons.css";
@import "tasks.css";
@import "wrappers.css";

@media screen {
  /* --- Reset Styles --- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
  }

  html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  /* --- Welcome Page Styles --- */
  body {
    background: linear-gradient(90deg, rgba(16,12,99,1) 0%, rgba(80,255,250,1) 49%, rgba(9,9,121,1) 95%);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    color: aliceblue;

  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    color: aliceblue;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
    color: aliceblue;

  }
  label {
    color: white;
  }

.form {
  .parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 3 / 1 / 4 / 3; }
.div4 { grid-area: 4 / 1 / 6 / 3; }
.div5 { grid-area: 6 / 1 / 7 / 3; }
}
.form > input {
  width: 60%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 15px;
}

.blue-font {color: blue;}
.purple-font {color: purple;}
.box{
	width:10px;
	height:10px;
}
div.box {
  margin-right: 5px;
  margin-left: 5px;
}
.aqua { background: #60ffcaa1; }
.green{
	background:lightgreen;
}
.cyan{
	background:cyan;
}
.yellow{
	background:yellow;
}
.white-font {
  color: white;
}
.high-priority{
	background:lightgreen;
}
.medium-priority{
	background:cyan;
}
.low-priority{
	background:yellow;
}
.normal-priority{
  background: inherit;
}
.expired-priority{
  background: red;
}


  .center {
    text-align: center;
  }

  /* .banner {
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: #dbfffa;
    box-shadow: 8px 10px 7px;
    border-radius: 10px;
  } */

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  .right {
    margin-right: 0;
    float: right;
  }

  .center {
    width: 50%;
    margin: auto;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
