<%# This is for editing users settings, password, name %>

<% if is_logged_in? %>

<div style="float: left">
  <a class="BackButton" href="/tasks">Tasks</a>
</div>

<br>

<form class="form" action="index.html" method="post">


  <div class="">
    <input type="hidden" name="_method" value="patch">
  </div>

  <div class="">
    Username: <input type="text" name="user[username]" value="<%= @user.username %>"><br>
  </div>

  <div class="">
    Email: <input type="email" name="user[email]" value="<%= @user.email %>"><br>
  </div>

  Change Password
  <input type="password" name="user[password]"><br>
  <input type="password" name="user[password_confirmation]"><br>

  <input type="submit" value="Edit User">

</form>


<% else %>

  <h1>You must <a href="/Login">Login</a> to view this page.</h1>

<% end %>
