<%# This is for editing users settings, password, name %>

<% if is_logged_in? %>

  <form class="" action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <div class="grid-container">
      <div class="form-title">
        <h1 class="">Edit User</h1>
      </div>
      <div class="username">Username:</div>
      <div class="username-input"><input type="text" name="user[username]" value="<%= @user.username %>"></div>
      <div class="email">Email:</div>
      <div class="email-input"><input type="email" name="user[email]" value="<%= @user.email %>"></div>

      <div class="password1">Password:</div>
      <div class="password1-input"><input type="password" id="password_confirmation" name="user[password_confirmation]"></div>
      <div class="password2">Confirm Password: </div>
      <div class="password2-input"><input type="password" id="password" name="user[password]"></div>

      <div class="submit-button"><input class="button white-on-blue bold" type="submit" value="Edit User"></div>
    </div>

  </form>


<% else %>

  <h1>You must <a href="/Login">Login</a> to view this page.</h1>

<% end %>
