
<h1>Log In</h1>

<form class="login-wrapper" action="/login" method="post">
  Username: <input type="text" name="username" /><br>

  Password: <input type="password" name="password" /><br><br>

  <input type="submit" value="Log In">
  or
  <a href="/signup">Sign Up</a>

</form>
