
<% if session[:msg] %>
  <div class="center">
    <%= session[:msg] %><br>
  </div>
<% end; session.delete(:msg) %>

<form class="login-wrapper" action="/login" method="post">

  <h1 class="center">Log In</h1>

  <div class="inner-input-wrapper">

    <div class="input-wrapper">
      <i class="fa fa-user"></i>
      <input class="wrap-input login-input" type="text" name="username" placeholder="Username"/><br>
    </div>

    <div class="input-wrapper">
      <i class="fa fa-key"></i>
      <input class="wrap-input login-input" type="password" name="password" placeholder="Password"/><br><br>
    </div>


    <div class="login-btns">
      <input class="login-btn" type="submit" value="Log In">
      or
      <a class="login-btn" href="/signup">Sign Up</a>
    </div>

  </div>

</form>
