


<form class="signup-wrapper" action="/signup" method="post">

  <h1 class="center">Create New User</h1>

  <div class="inner-login-wrapper">

    Username:
    <div class="input-wrapper">
      <i class="fa fa-user"></i>
      <input class="wrap-input login-input" type="text" name="username" /><br>
    </div>

    Email:
    <div class="input-wrapper">
      <i class="fa fa-envelope-square"></i>
      <input class="wrap-input login-input" type="email" name="email" /><br>
    </div>

    Password:
    <div class="input-wrapper">
      <i class="fa fa-key"></i>
      <input class="wrap-input login-input" type="password" name="password" /><br>
    </div>


    <input class="signupButton" type="submit" value="Sign Up">

  </div>

</form>
