<script>
  document.write('<a class="button aqua" href="' + document.referrer + '">Go Back</a>');
</script>

<div class="center">
  <h1>There seems to have been a problem</h1>

  <h2>The following needs to be changed</h2>
</div>

<% if !!flash[:messages] %>

  <% if flash[:messages].class == Array %>
    <ul class="center red-font" style="list-style: none;">
      <% flash[:messages].each do |message| %>
        <li><%= "#{message}" %></li>
      <% end %>
    </ul>

  <% elsif flash[:messages].class == String %>

  <% end %>


<% end %>


<br>

<h3>
  Please return to the <script> document.write('<a href="' + document.referrer + '">previous page</a>');</script> and try agian
</h3>
