
<% unless is_logged_in? %>
  <div class="">
    <a class="blue-btn" href="/login">Login</a>
  </div>
<% end %>
<div class="center">
  <h1>There seems to have been a problem</h1>

  <h2>The following needs to be changed</h2>
</div>

<% if !!flash[:messages] %>

  <% if flash[:messages].class == Array %>
    <ul class="center red-font" style="list-style: none;">
      <% flash[:messages].uniq.each do |message| %>
        <li><%= "#{message}" %></li>
      <% end %>
    </ul>

    <% flash[:messages] = nil %>
  <% elsif flash[:messages].class == String %>

  <% end %>


<% end %>


<br>

<h3>
  Please return to the <a onclick="document.getElementById('back-button').click();" href="#">previous page</a> and try agian
</h3>

<form class="center">
  <input id="back-button" class="BackButton" type="button" value="Go back!" onclick="history.back()">
</form>
