

<form class="login-wrapper" action="/login" method="post">

  <i class="fa fa-user"></i>
  <input class="wrap-input" type="text" name="username" placeholder="Username" /><br>

  <i class="fa fa-key"></i>
  <input class="wrap-input" type="password" name="password" placeholder="Password" /><br><br>

  <!-- <input type="submit" value="Log In">
  or
  <a href="/signup">Sign Up</a> -->
  <div class="login-btns">
    <input class="login-btn" type="submit" value="Log In">
    or
    <a class="login-btn" href="/signup">Sign Up</a>
  </div>

</form>
