<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Task App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

    <script>tinymce.init({selector:'textarea'});</script>

    <style>
      .github-fork-ribbon:before {
        background-color: #00aa63;
      }
      .github-fork-ribbon:after {
        text-shadow: -3px 0em 2px rgba(0,0,0,.5);
      }
    </style>

  </head>
  <body>

    <header>
      <% if is_logged_in? %>
        <div class="" style="float: right;">
          <button type="button" name="logout" onclick="location.pathname = '/logout'" id="logoutButton">Logout</button>
        </div>

        <% unless url =~ /tasks$/ %>
          <div class="tasks-btn">
            <a class="blue-btn" href="/tasks">Tasks</a>
          </div>
        <% end %>

      <% end %>

      <div class="center">
        <img src="/images/task-app-logo.png" alt="Task App Logo">
      </div>

    </header>

    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>TaskApp</strong></small>
      </footer>
    </div>

    <a class="github-fork-ribbon right-bottom fixed orange" target="_blank" href="https://github.com/mikeg1440/task-app" alt="Form me on Github ribbon" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
